body {
    background-color: #f3f3f3;
    .about-nav {
        nav {
            display: flex;
            align-items: center;
            background-color: rgb(70, 130, 130) !important;
            height: 19vh;
            font-weight: 600;
            .personal-logo {
                width: 100%;
                height: 100%;
                img {
                    max-width: 100%;
                    height: 100%;
                    cursor: pointer;
                }
            }
            ul {
                width: 100%;
                list-style: none;
                display: flex;
                justify-content: space-around;
                li {
                    a {
                        text-decoration: none;
                        color: #f5f4f4;
                        &:hover {
                            color: #014242;
                            transition: .5s;
                        }
                    }
                    .active {
                        color: #014242;
                    }
                }
            }
        }
    }
    .site-section {
        width: 100%;
        display: flex;
        // background-color: #f5f4f4;
        background-color: #f3f3f3;
        // background-color: #dfd5b0;
        .my-image {
            width: 50%;
            margin-left: 7%;
            img {
                width: 100%;
            }
        }
        .personal-information {
            width: 36%;
            margin-right: 7%;
            margin-left: 55px;
            margin-top: 50px;
            h3 {
                font-weight: 600;
                color: rgb(60, 120, 120);
                margin-bottom: 20px;
            }
        }
    }
    .more-about {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center; 
        margin-top: 30px;
        margin-bottom: 30px;
        h3 {
            font-weight: 600;
            margin-bottom: 40px;
            span {
                color: rgb(60, 120, 120);
            }
        }
        table {
            text-align: center;
            border: none;
            tr {
                width: 100%;
                th {
                    border: none;
                    border-color: darkslategray;
                    padding: 10px;
                    background-color: darkslategray;
                    // background-color: rgb(60, 120, 120);
                    color: #f5f4f4;
                }
                td {
                    border: none;
                    border-color: darkslategray;
                    padding: 5px 30px;
                    background-color: #6fbba2;
                }
            }
        }  
    }
    .about-footer {
        width: 100%;
        height: 22vh;
        background-color: rgb(70, 130, 130);
        flex-shrink: 0;
        .contacts {
            width: 100%;
            display: flex;
            justify-content: space-around;
            padding-top: 40px;
            p {
                font-size: 17px;
                font-weight: bold;
                color: #f5f4f4;
            }
            .links {
                a {
                    text-decoration: none;
                    margin-left: 7px;
                    i {
                        font-size: 22px;
                        color: black;
                        &:hover {
                            color: #f5f4f4;
                            transition: .5s;
                        }
                    }
                }
            }
        }
        .date {
            color: #f5f4f4;
            margin: 0;
            padding: 0;
            text-align: center;
            padding-top: 12px;
            font-weight: bold;
        }
    }
}