.contact-nav {
  background-color: deepskyblue;
  .contact-navbar {
    display: flex;
    align-items: center;
    background-color: rgb(70, 130, 130);
    height: 19vh;
    font-weight: 600;
    .personal-logo {
      width: 100%;
      height: 100%;
      img {
        max-width: 100%;
        height: 100%;
        cursor: pointer;
      }
    }
    .nav-links {
      width: 100%;
      list-style: none;
      display: flex;
      justify-content: space-around;
      li {
        a {
          text-decoration: none;
          color: #f5f4f4;
          &:hover {
            color: #014242;
            transition: 0.5s;
          }
        }
        .active {
          color: #014242;
        }
      }
    }
  }
}
.contact-section {
  width: 100%;
  background-color: #f5f3f3;
  .contact-heading {
    text-align: center;
    color: black;
    h2 {
      @media screen and (max-width: 768px) {
        margin-top: 30px;
      }
      span {
        color: rgb(60, 120, 120);
        font-weight: 700;
      }
    }
  }
  .contact-options {
    width: 100%;
    margin: auto;
    display: flex;
    justify-content: space-around;
    // @media screen and (max-width: 700px) {
    //     display: flex;
    //     flex-direction: column;
    // }
    @media screen and (max-width: 768px) {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-top: 40px;
    }
    .contact-form {
      width: 30%;
      @media screen and (max-width: 1024px) {
        width: 39%;
      }
      @media screen and (max-width: 768px) {
        width: 56%;
        margin: auto;
      }
      @media screen and (max-width: 600px) {
        width: 70%;
        margin: auto;
      }
      h3 {
        margin-bottom: 25px;
      }
      form {
        width: 100%;
        // width: 78%;
        .input-form {
          width: 100%;
          margin-bottom: 16px;
          input {
            width: 100%;
            border: none;
            background-color: darkslategray;
            color: white;
            font-weight: 600;
            padding: 10px 10px 10px 10px;
            border-radius: 6px;
          }
          .special {
            padding-bottom: 120px;
          }
        }
        .submit-button {
          margin-top: 20px;
          margin-bottom: 40px;
          button {
            border: none;
            padding: 15px;
            background-color: darkslategray;
            border-radius: 100px;
            letter-spacing: 1px;
            font-size: 13px;
            font-weight: 600;
            a {
              text-decoration: none;
              color: white;
            }
          }
        }
      }
    }
    .contact-details {
      width: 30%;
      @media screen and (max-width: 768px) {
        width: 68%;
        margin: auto;
        margin-top: 10px;
      }
      @media screen and (max-width: 600px) {
        width: 86%;
        margin: auto;
      }
      h3 {
        margin-bottom: 25px;
        @media screen and (max-width: 768px) {
          text-align: center;
          margin-bottom: 35px;
        }
      }
      ul {
        width: 100%;
        list-style: none;
        @media screen and (max-width: 768px) {
          display: flex;
          width: 100%;
          padding-left: 0;
          justify-content: space-between;
        }
        li {
          span {
            font-weight: 600;
            color: darkslategray;
            letter-spacing: 1px;
            text-transform: uppercase;
          }
          p {
            margin-top: 10px;
          }
        }
      }
    }
  }
}
.contact-footer {
  width: 100%;
  height: 22vh;
  background-color: rgb(70, 130, 130);
  flex-shrink: 0;
  .contacts {
    width: 100%;
    display: flex;
    justify-content: space-around;
    padding-top: 40px;
    p {
      font-size: 17px;
      font-weight: bold;
      color: #f5f4f4;
    }
    .links {
      a {
        text-decoration: none;
        margin-left: 7px;
        i {
          font-size: 22px;
          color: black;
          &:hover {
            color: #f5f4f4;
            transition: 0.5s;
          }
        }
      }
    }
  }
  .date {
    color: #f5f4f4;
    margin: 0;
    padding: 0;
    text-align: center;
    padding-top: 12px;
    font-weight: bold;
  }
}
@media screen and (max-width: 768px) {
  .contact-navbar {
    background: rgb(70, 130, 130);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 999 !important;
  }
  .line {
    width: 30px;
    height: 3px;
    background-color: white !important;
    margin: 5px;
  }
  .hamburger {
    position: absolute;
    cursor: pointer;
    right: 5%;
    top: 35%;
    z-index: 99999;
  }
  .nav-links {
    position: fixed;
    top: 39px;
    background-color: rgb(70, 130, 130) !important;
    height: 97vh;
    width: 100%;
    flex-direction: column !important;
    align-items: center !important;
    justify-content: space-evenly !important;
    z-index: 99;
    clip-path: circle(100px at 90% -25%);
    -webkit-clip-path: circle(100px at 90% -10%);
    transition: all 1s ease-out;
    pointer-events: none;
  }
  .personal-logo {
    z-index: 9999;
  }
  .nav-links.open {
    clip-path: circle(1000px at 90% -10%);
    -webkit-clip-path: circle(1000px at 90% -10%);
    pointer-events: all;
  }
  .contact-section {
    margin-top: 121px;
  }
}
