.section-1 {
    // background-image: url(../Images/myphoto2.jpg);
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100vh;
    opacity: 0.8;
    nav {
        display: flex;
        align-items: center;
        background-color: lightgray;
        height: 19vh;
        .personal-logo {
            width: 100%;
            img {
                width: 24%;
            }
        }
        ul {
            width: 100%;
            list-style: none;
            display: flex;
            justify-content: space-around;
            li {
                a {
                    text-decoration: none;
                    color: black;
                    &:hover {
                        color: rgb(104, 175, 37);
                    }
                }
            }
        }
    }
    .site-heading {
        width: 100%;
        position: relative;
        right: 10px;
        top: 165px;
        color: #222;
    }
}