body {
  width: 100%;
  height: 100%;
}
body .main-nav {
  width: 100%;
}
body .main-nav nav {
  display: flex;
  align-items: center;
  background-color: #6fbba2;
  height: 19vh;
  font-weight: 600;
}
body .main-nav nav .personal-logo {
  width: 100%;
}
body .main-nav nav .personal-logo img {
  width: 24%;
}
body .main-nav nav ul {
  width: 100%;
  list-style: none;
  display: flex;
  justify-content: space-around;
}
body .main-nav nav ul li a {
  text-decoration: none;
  color: black;
}
body .main-nav nav ul li a:hover {
  color: #f5f4f4;
  transition: 0.5s;
}
body .testing {
  width: 100%;
}
body .testing .section-1 {
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 81vh;
  opacity: 0.8;
}
body .testing .section-1 .site-heading {
  width: 100%;
  position: relative;
  right: 10px;
  top: 165px;
  color: black;
  text-align: center;
}
body .testing .section-1 .site-heading h1 {
  font-weight: 600;
}
body .testing .section-1 .site-heading h1 span {
  color: #258b69;
  font-weight: 700;
}
body .testing .section-2 {
  width: 100%;
  background-color: #f3f3f3;
  padding-top: 30px;
  padding-bottom: 30px;
}
body .testing .section-2 .info {
  width: 100%;
}
body .testing .section-2 .info .section-header {
  text-align: center;
}
body .testing .section-2 .info .section-header h3 {
  font-weight: 600;
}
body .testing .section-2 .info .section-header h3 span {
  color: #258b69;
}
body .testing .section-2 .info .section-paragraph {
  text-align: center;
  margin-top: 20px;
}
body .testing .section-2 .info .section-paragraph p {
  font-weight: 600;
  color: #212529;
}
body .testing .section-2 .info .information {
  text-align: center;
  margin-top: 20px;
}
body .testing .section-2 .info .information p {
  font-weight: 600;
  color: #212529;
  margin-bottom: 25px;
}
body .testing .section-2 .info .information ul {
  display: flex;
  justify-content: space-around;
  list-style: none;
  margin: 0;
  padding: 0;
}
body .testing .section-2 .info .information ul li {
  width: 100%;
}
body .testing .section-2 .info .information ul li:first-child {
  color: orange;
}
body .testing .section-2 .info .information ul li:nth-child(2) {
  color: #1919e4;
}
body .testing .section-2 .info .information ul li:last-child {
  color: #f1f10c;
}
body .testing .section-2 .info .information ul li i {
  width: 100%;
  font-size: 105px;
}
body footer {
  width: 100%;
  height: 22vh;
  background-color: #6fbba2;
}
body footer .contacts {
  width: 100%;
  display: flex;
  justify-content: space-around;
  padding-top: 40px;
}
body footer .contacts p {
  font-size: 17px;
  font-weight: bold;
}
body footer .contacts .links a {
  text-decoration: none;
  margin-left: 7px;
}
body footer .contacts .links a:first-child {
  color: #1e1eaf;
}
body footer .contacts .links a:nth-child(2) {
  color: #6f05ac;
}
body footer .contacts .links a:last-child {
  color: #e90202;
}
body footer .contacts .links a i {
  font-size: 22px;
}
body footer .date {
  margin: 0;
  padding: 0;
  text-align: center;
  padding-top: 12px;
  font-weight: bold;
}

html {
  height: 100%;
}
html body {
  height: 100%;
  display: flex;
  flex-direction: column;
}
html body .assignments-nav {
  width: 100%;
}
html body .assignments-nav nav {
  display: flex;
  align-items: center;
  background-color: #6fbba2;
  height: 19vh;
  font-weight: 600;
}
html body .assignments-nav nav .personal-logo {
  width: 100%;
}
html body .assignments-nav nav .personal-logo img {
  width: 24%;
}
html body .assignments-nav nav ul {
  width: 100%;
  list-style: none;
  display: flex;
  justify-content: space-around;
}
html body .assignments-nav nav ul li a {
  text-decoration: none;
  color: black;
}
html body .assignments-nav nav ul li a:hover {
  color: #f5f4f4;
  transition: 0.5s;
}
html body .assignments-section {
  flex: 1 0 auto;
}
html body .assignments-section h2 {
  text-align: center;
  margin-top: 25px;
  margin-bottom: 15px;
}
html body .assignments-section p {
  text-align: center;
  margin-bottom: 30px;
}
html body .assignments-section ul {
  list-style: none;
  width: 8em;
  padding-left: 24px;
  padding-top: 5px;
  padding-bottom: 5px;
  background-color: #396d6d;
  color: white;
  margin-left: 50px;
  cursor: pointer;
  font-weight: 600;
  border: 1px solid royalblue;
}
html body .assignments-section ul:hover a {
  display: block;
  padding-left: 5px;
}
html body .assignments-section ul li {
  width: 100%;
}
html body .assignments-section ul li a {
  text-decoration: none;
  color: white;
  padding-top: 5px;
  display: none;
  font-weight: normal;
}
html body footer {
  width: 100%;
  height: 22vh;
  background-color: #6fbba2;
  flex-shrink: 0;
}
html body footer .contacts {
  width: 100%;
  display: flex;
  justify-content: space-around;
  padding-top: 40px;
}
html body footer .contacts p {
  font-size: 17px;
  font-weight: bold;
}
html body footer .contacts .links a {
  text-decoration: none;
  margin-left: 7px;
}
html body footer .contacts .links a:first-child {
  color: #1e1eaf;
}
html body footer .contacts .links a:nth-child(2) {
  color: #6f05ac;
}
html body footer .contacts .links a:last-child {
  color: #e90202;
}
html body footer .contacts .links a i {
  font-size: 22px;
}
html body footer .date {
  margin: 0;
  padding: 0;
  text-align: center;
  padding-top: 12px;
  font-weight: bold;
}

body {
  background-color: #f3f3f3;
}
body .about-nav nav {
  display: flex;
  align-items: center;
  background-color: #6fbba2;
  height: 19vh;
  font-weight: 600;
}
body .about-nav nav .personal-logo {
  width: 100%;
}
body .about-nav nav .personal-logo img {
  width: 24%;
  cursor: pointer;
}
body .about-nav nav ul {
  width: 100%;
  list-style: none;
  display: flex;
  justify-content: space-around;
}
body .about-nav nav ul li a {
  text-decoration: none;
  color: black;
}
body .about-nav nav ul li a:hover {
  color: #f5f4f4;
  transition: 0.5s;
}
body .site-section {
  width: 100%;
  display: flex;
  background-color: #f3f3f3;
}
body .site-section .my-image {
  width: 50%;
  margin-left: 7%;
}
body .site-section .my-image img {
  width: 100%;
}
body .site-section .personal-information {
  width: 36%;
  margin-right: 7%;
  margin-left: 55px;
  margin-top: 50px;
}
body .site-section .personal-information h3 {
  font-weight: 600;
  color: darkslategray;
  margin-bottom: 20px;
}
body .more-about {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 30px;
  margin-bottom: 30px;
}
body .more-about h3 {
  font-weight: 600;
  margin-bottom: 40px;
}
body .more-about h3 span {
  color: darkslategray;
}
body .more-about table {
  text-align: center;
  border: none;
}
body .more-about table tr {
  width: 100%;
}
body .more-about table tr th {
  border: none;
  border-color: darkolivegreen;
  padding: 10px;
  background-color: darkslategray;
  color: white;
}
body .more-about table tr td {
  border: none;
  border-color: darkolivegreen;
  padding: 5px 30px;
  background-color: #6fbba2;
}
body footer {
  background-color: #6fbba2;
}

.contact-nav {
  background-color: deepskyblue;
}
.contact-nav nav {
  display: flex;
  align-items: center;
  background-color: #6fbba2;
  height: 19vh;
  font-weight: 600;
}
.contact-nav nav .personal-logo {
  width: 100%;
}
.contact-nav nav .personal-logo img {
  width: 24%;
}
.contact-nav nav ul {
  width: 100%;
  list-style: none;
  display: flex;
  justify-content: space-around;
}
.contact-nav nav ul li a {
  text-decoration: none;
  color: black;
}
.contact-nav nav ul li a:hover {
  color: #f5f4f4;
  transition: 0.5s;
}

.contact-section {
  width: 100%;
  background-color: #f3f3f3;
}
.contact-section .contact-heading {
  text-align: center;
  color: black;
}
.contact-section .contact-heading h2 span {
  color: #4cac8c;
  font-weight: 700;
}
.contact-section .contact-options {
  display: flex;
  justify-content: space-around;
}
.contact-section .contact-options .contact-form h3 {
  margin-bottom: 25px;
}
.contact-section .contact-options .contact-form form .input-form {
  margin-bottom: 16px;
}
.contact-section .contact-options .contact-form form .input-form input {
  width: 100%;
  border: none;
  background-color: darkslategray;
  color: white;
  font-weight: 600;
  padding: 10px 180px 10px 10px;
  border-radius: 6px;
}
.contact-section .contact-options .contact-form form .input-form .special {
  padding-bottom: 120px;
}
.contact-section .contact-options .contact-form form .submit-button {
  margin-top: 20px;
  margin-bottom: 40px;
}
.contact-section .contact-options .contact-form form .submit-button button {
  border: none;
  padding: 15px;
  background-color: darkslategray;
  border-radius: 100px;
  letter-spacing: 1px;
  font-size: 13px;
  font-weight: 600;
}
.contact-section .contact-options .contact-form form .submit-button button a {
  text-decoration: none;
  color: white;
}
.contact-section .contact-options .contact-details h3 {
  margin-bottom: 25px;
}
.contact-section .contact-options .contact-details ul {
  list-style: none;
  width: 100%;
}
.contact-section .contact-options .contact-details ul li span {
  font-weight: 600;
  color: darkslategray;
  letter-spacing: 1px;
  text-transform: uppercase;
}
.contact-section .contact-options .contact-details ul li p {
  margin-top: 10px;
}

.chaptersWrapper {
  width: 100%;
  height: 100%;
  background-color: #f3f3f3;
}
.chaptersWrapper button {
  margin-top: 20px;
  margin-left: 20px;
  border: none;
  padding: 15px;
  background-color: #f3f3f3;
  letter-spacing: 1px;
}
.chaptersWrapper button a {
  text-decoration: none;
  color: black;
  font-weight: 700;
}
.chaptersWrapper .chapters-links {
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.chaptersWrapper .chapters-links h4 {
  margin-bottom: 20px;
  font-weight: 600;
  color: darkslategray;
}
.chaptersWrapper .chapters-links li a {
  color: darkslateblue;
}
.chaptersWrapper .chapters-links li a:hover {
  text-decoration: none;
  color: #000000;
}
.chaptersWrapper .chapters-links li .different {
  padding-left: 9px;
}

.examples-nav {
  width: 100%;
}
.examples-nav .examples-button {
  margin-top: 20px;
  margin-left: 20px;
  margin-bottom: 20px;
  border: none;
  padding: 15px;
  background-color: #f3f3f3;
  letter-spacing: 1px;
}
.examples-nav .examples-button a {
  text-decoration: none;
  color: black;
  font-weight: 700;
}